body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url("../src/img/background.jpg");
  background-size: cover;
}

@media (max-width: 992px) {
  #header {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }

form {
  opacity: 20%
}
}